@charset "UTF-8";

@font-face {
    font-family: minimalism;
    src: url(ZilapMinimalistDemo-nR1vg.ttf);
}



body {
background-attachment: fixed;

background-image:linear-gradient(to left, rgb(116, 116, 204), rgb(17, 14, 30) 35%) ;

}

nav {

    border-radius: 5px;

    padding: 2.5px;

    background-image:linear-gradient(to left, rgba(116, 116, 204, 0.259), rgba(17, 14, 30, 0.331)) ;

    font-size: 30px;

    

}


nav > a:link{

    color: none;
}

nav > a {
text-decoration: none;

color: rgb(215, 210, 246);

margin-right: 100px;


}

    nav >  .github:hover {
    transition: all 0.2s ease-in;
    color: rgb(199, 171, 255);}

    nav > .email:hover {transition: all 0.2s ease-in;
        color: rgb(175, 171, 255);}

    nav > .linkedin:hover {transition: all 0.2s ease-in;
        color: rgb(171, 216, 255);}



}

    header > h1 {

        font-size: 50px;

    }

header {

text-align: center;

font-family: minimalism, sans-serif;

font-size: 40px;

color: rgb(215, 210, 246);
}

main {

margin: 60px 30px 100px 30px;

padding: 20px;

text-align: center;

font-family: minimalism, sans-serif;

font-size: 80px;

font-weight: 900;

color: rgb(255, 255, 255);
}

.sobremim {

    font-family: minimalism, sans-serif;

    color: rgb(199, 171, 255);

    font-size: 50px;

    text-align: left;
}


article:hover
{top:-10px;box-shadow:0 6px 10px rgb(199, 171, 255);
    transition: all .5s ease-in-out}

article {
    position: relative;

    margin:70px 0px 0px 50px;

    padding-top: 5px;

    padding-left:30px;

    padding-right: 30px;

    border-radius: 20px;

    width: 750px;

    height: 360px;

    background-color: rgb(22, 19, 45);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    text-align: justify;

    font-size: 20px;

    font-weight: 400;
}

.imagem {
display: block;

}

.imagem {
display: flexbox;
margin-left: 1050px;
margin-bottom: auto;
}

article > aside {
    padding-right: 30px;

    text-align: right;

    font-size: 20px;

    color: rgb(238, 245, 250);


}

footer {
    font-size: 15px;

    font-family: minimalism, sans-serif;

    color: rgb(149, 138, 199);

    padding-top: 270px;

    padding-bottom: 15px;

    text-align: center;

}

div#bola {
    background-color: aliceblue;
    color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}

